#agents
langchain
langchain_community
langchain_ollama
langchain_openai
langgraph
langchain-core
fuzzywuzzy
python_dotenv
pydantic
pydantic[email]

#FastAPI
uvicorn
fastapi
requests
passlib[bcrypt]
python-jose[cryptography]
python-multipart

#database
sqlalchemy
alembic
# psycopg
psycopg[binary]
pgvector

#saving csv 
filelock

#synthetic scam report
faker
FPDF 
numpy 
pandas

#RAG 
sentence-transformers

#unit test
pytest
pytest-mock 
pytest-cov 
httpx

# Fuzzywuzzy performance enhancement
Levenshtein